@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: hsl(220, 98%, 61%);
    --primary-bg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    --light-gray: hsl(0 66% 5%);
    --light-grayish-blue: hsl(236, 33%, 92%);
    --lighter-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --darker-grayish-blue: hsl(235, 19%, 35%);
    ---dark-blue: hsl(235, 21%, 11%);
    --darker-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue-dark: hsl(234, 39%, 85%);
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dark-grayish-blue-dark: hsl(234, 11%, 52%);
    --dark-grayish-blue-dark: hsl(233, 14%, 35%);
    --darker-grayish-blue-dark: hsl(237, 14%, 26%);

    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

.light-mode {
    --color-primary: #FFFFFF;
    --color-secondary: #F56692;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
}

body {
    background-color: var(--color-primary);
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

.card {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: var(--box-shadow-1);
}